@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');

html {
    background-image: linear-gradient(-180deg, #092173 0%, #00259f 100%);
    height: 100%;
}
body {
    margin: 0 auto;
    background-repeat: no-repeat;
}

a:link {
    text-decoration: none;
}

.container {
    width: 100%;
    height: 100%;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

section#pageOne {
    color: #fff;
    text-align: center;
    /* background-color: #092173; */
    background-image: linear-gradient(-180deg, #092173 0%, #00259f 100%);
    background-size: 100% 100%;
}

#demoCard {
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 600px;
    background-color: #fff;
    width: 70%;
    height: 700px;
    box-shadow: 0px 0px 20px #00259e;
}
#demoCardWrapper {
    position: absolute;
    top: 0;
    height: 300px;
}
.algorithmCard {
    display: inline-block;
    padding: 20px;
    margin: 20px 12px;
    text-align: center;
    height: 200px;
    width: 200px;
    transition: 0.3s;
}
.algorithmCard > img {
    -webkit-transition: -webkit-transform 0.8s ease-in-out;
    transition: transform 0.8s ease-in-out;
}
.algorithmCard:hover > img {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
.algorithmCard:hover {
    background-color: #3574f3;
}
#pageOne h1 {
    font-size: 60px;
    margin-bottom: 10px;
}
#pageOne h2 {
    margin: 10px 0 50px 0;
    font-size: 30px;
}

#pageOne p {
    color: rgb(177, 175, 175);
}

#pageOneTextBox {
    margin-top: -100px;
    width: 650px;
}

section#pageTwo {
    /* background-image: linear-gradient(180deg, rgb(228, 255, 146) 0%, #ffe684 40%, #94afe9 100%); */
    /* background-color: rgb(225, 225, 225);
    */
    background-image: linear-gradient(-180deg, #00259f 30%, #fff 30%);
    background-size: 100% 100%;
}

section#pageThree {
    /* background-image: linear-gradient(180deg, #94afe9 0%, #e9a6df 66%, #b57cff 100%); */
    background-color: #fff;
}

.icon {
    padding: 20px;
}
.centeredSentence {
    text-align: center;
    color: #fff;
    display: inline-block;
    height: 150px;
    width: 100%;
    background-color: #00259f;
}
.centeredSentence h1 {
    font-size: 50px;
}
#pageThreeWrapper {
    width: 100%;
}
#pageThreeLeft {
    display: inline-block;
    width: 50%;
    text-align: center;
}
#pageThreeRight {
    display: inline-block;
    width: 50%;
    text-align: center;
}

.iconImg {
    width: 100px;
    padding: 30px;
}
#pageThreeLeft p {
    float: right;
    width: 50%;
    padding: 50px;
}
#pageThreeRight p {
    float: right;
    width: 50%;
    padding: 50px;
}

/* img {
    width: 25%;
    margin-top: -75px;
    margin-right: 300px;
} */

/* #main {
    color: #353535;
    margin: 0 auto;
    width: 100%;
    min-width: 1200px;
    text-align: center;
    display: flex;
    justify-content: center;
} */
#navbar {
    z-index: 3;
    position: fixed;
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
}
#side-navbar {
    z-index: 3;
    position: fixed;
    background-color: #fff;
    top: 0;
    right: 0;
}
.logoText {
    font-size: 150%;
    font-family: 'Playfair Display', serif;
    color: #ffffff;
    text-align: center;
    margin-left: 50px;
    margin-top: -20px;
}

.text {
    font-size: 250%;
    font-family: 'Playfair Display', serif;
    color: #3e403f;
}

.linkBtn {
    /* appearance: none; */
    background-color: transparent;
    border-width: 0;
    color: #00259f;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 1em;
    margin: 0;
    opacity: 1;
    outline: 0;
    padding: 1.5em 2.2em;
    /* position: relative; */
    text-align: center;
    text-decoration: none;
    /* text-rendering: geometricprecision;
    text-transform: uppercase; */
    /* transition: opacity 300ms cubic-bezier(0.694, 0, 0.335, 1),
        background-color 100ms cubic-bezier(0.694, 0, 0.335, 1),
        color 100ms cubic-bezier(0.694, 0, 0.335, 1); */
    /* user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap; */
    /* margin-right: 50px; */
    font-weight: 500;
}

/* .linkBtn:before {
    animation: opacityFallbackOut 0.5s step-end forwards;
    backface-visibility: hidden;
    background-color: #ffffff78;
    clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateZ(0);
    transition: clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1),
        -webkit-clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    width: 100%;
} */

/* .linkBtn:hover:before {
    animation: opacityFallbackIn 0s step-start forwards;
    clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.linkBtn span {
    z-index: 1;
    position: relative;
} */

#footer {
    background-color: #00259f;
    color: #fff;
    text-align: center;
    padding: 40px 0;
    bottom: 0px;
    width: 100%;
}
.form-wrapper {
    text-align: center;
}
.input {
    width: 240px;
    height: 10px;
    text-align: center;
    padding: 15px;
    font-size: 16px;
    font-family: 'Abel', sans-serif;
    color: #5e6472;
    border: none;
    border-radius: 5px;
    transition: 0.2s linear;
}
.input:nth-of-type(2) {
    margin-top: 10px;
}
/* .input:focus {
    border: 1px solid #353535;
} */
.btn {
    margin-top: 20px;
    color: #353535;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    padding: 8px 17px;
    border-radius: 5px;
    margin: 10px;
    transition: 0.5s;
}
.btn:hover {
    background-color: #e8a4ffc1;
}
.box {
    margin: 150px auto;
    text-align: center;
    width: 450px;
    border-radius: 5px;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.7);
    /* background-image: linear-gradient(
        -225deg,
        rgb(255, 202, 225) 50%,
        rgba(201, 249, 188, 0.534) 50%
    ); */
}

.transferBtn {
    color: #324da6;
    font-size: 15px;
    padding: 0 5px 0 5px;
    margin: 0;
    background-color: rgba(255, 255, 255, 0);
    transition: 0.5s;
}
.transferBtn:hover {
    color: #3574f3;
    background-color: rgba(255, 255, 255, 0);
}

.formBtn {
    color: #fff;
    margin-top: 40px;
    width: 100px;
    height: 30px;
    padding: 0 20px;
    background: #324da6;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;
}

.paragraph {
    margin: 2rem auto 1rem;
    display: inline-block;
}
.app h1 {
    margin: 50px;
}
.dashboard {
    width: 100%;
}
/* #chartBoxInside {
    height: 1000px;
} */

.chartBox {
    border-radius: 10px;
    padding: 20px;
    width: 760px;
    margin: 10px;
    margin-left: 5px;
    background-color: rgba(255, 255, 255, 0.7);
}
.loggerBox {
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    margin-right: 5px;
    background-color: rgba(255, 255, 255, 0.7);
    width: 290px;
    overflow: scroll;
}
.chartBtn {
    width: 100px;
    color: #353535;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    transition: 0.5s;
}

.projectSelector {
    display: flex;
    justify-content: space-between;
}

.chartBtn:hover {
    background-color: #a496e3;
}
.h4chart {
    color: #353535;
    text-align: center;
}
.chartVisual {
    margin: 0 auto;
}
#dashWrapper {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    max-height: 620px;
}
.Collapsible {
    color: #545353;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
}

#cardHr {
    border-top: 1px solid #999999;
    border-bottom: 0px;
}
.label {
    float: left;
    font-weight: bold;
    width: 100px;
}
.value {
    text-align: center;
}
.queryProps {
    border-radius: 7px;
    padding: 5px;
    margin: 5px 0;
    background-color: #a496e32f;
    transition: 0.5s;
    cursor: pointer;
}
.queryProps:hover {
    background-color: rgb(9, 32, 116, 0.1);
}
.projectLabel {
    cursor: pointer;
}
