@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

.loggerBox::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.loggerBox {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.authError {
    padding: 10px;
    color: red;
    background-color: pink;
    border-radius: 5px;
}

html {
    background-color: #092173;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0 auto;
    background-repeat: no-repeat;
}

a:link {
    text-decoration: none;
}

.container {
    height: 100%;
    min-width: 457px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    min-width: 457px;
}

section#pageOne {
    color: #fff;
    text-align: center;
    position: relative;
    background-color: #092173;
    overflow: hidden;
}

.blue-filter {
    z-index: 9;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(9, 33, 115, 0.7);
}

.video_wrapper {
    position: absolute;
    height: 125%;
    width: 2500px;
}

#demoCard {
    z-index: 11;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 600px;
    background-color: #fff;
    width: 70%;
    height: 100%;
    box-shadow: 0px 0px 20px #00259e;
}

#loading {
    font-size: 30px;
    color: #d3d3d3;
    margin: 265px auto;
}

#loading h3 {
    text-align: center;
}

#demoCardWrapper {
    position: absolute;
    top: 0;
    height: 300px;
    display: flex;
}

.algorithmCard {
    display: inline-block;
    margin: 20px;
    text-align: center;
    height: 200px;
    width: 200px;
    transition: 0.3s;
}

.algorithmCard > img {
    -webkit-transition: -webkit-transform 0.8s ease-in-out;
    transition: transform 0.8s ease-in-out;
}

.algorithmCard:hover > img {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.algorithmCard:hover {
    background-color: #3574f3;
}

/* .demoCardImg {
    width: 100%;
    margin-top: 200px;
} */
#pageOne h1 {
    font-size: 60px;
    margin-bottom: 10px;
}

#pageOne h2 {
    margin: 10px 0 50px 0;
    font-size: 30px;
}

#pageOne p {
    color: rgb(177, 175, 175);
}

#pageOneTextBox {
    margin-top: -100px;
    width: 650px;
    position: absolute;
    z-index: 10;
}

section#pageTwo {
    /* background-image: linear-gradient(180deg, rgb(228, 255, 146) 0%, #ffe684 40%, #94afe9 100%); */
    /* background-color: rgb(225, 225, 225);
    */
    background-image: url('./white.webp');
    background-size: cover;
}

section#pageThree {
    /* background-image: linear-gradient(180deg, #94afe9 0%, #e9a6df 66%, #b57cff 100%); */
    background: #fff;
    height: 500px;
}

.icon {
    padding: 20px;
    display: flex;
    height: 150px;
    justify-content: center;
    align-items: center;
}

.centeredSentence {
    text-align: center;
    color: #fff;
    display: inline-block;
    height: 150px;
    width: 100%;
    background-color: #092173;
}

.centeredSentence h1 {
    margin: 52px;
    font-size: 40px;
}

#pageThreeWrapper {
    width: 100%;
    text-align: center;
}

#pageThreeLeft {
    display: inline-block;
    width: 50%;
    text-align: center;
}

#pageThreeRight {
    display: inline-block;
    width: 50%;
    text-align: center;
}

.iconImg {
    width: 100px;
    padding: 30px;
}

#pageThreeLeft p {
    float: right;
    width: 50%;
    padding: 50px;
}

#pageThreeRight p {
    float: right;
    width: 50%;
    padding: 50px;
}

/* img {
    width: 25%;
    margin-top: -75px;
    margin-right: 300px;
} */

/* #main {
    color: #353535;
    margin: 0 auto;
    width: 100%;
    min-width: 1200px;
    text-align: center;
    display: flex;
    justify-content: center;
} */
#navbar {
    z-index: 11;
    position: fixed;
    background-color: #fff;
    width: 100%;
    top: 0;
    text-align: center;
}

#side-navbar {
    z-index: 11;
    position: fixed;
    background-color: #fff;
    top: 0;
    right: 0;
}

.logoText {
    font-size: 150%;
    color: #ffffff;
    text-align: center;
    margin-left: 50px;
    margin-top: -20px;
}

.text {
    font-size: 250%;
    color: #3e403f;
}

.linkBtn {
    /* appearance: none; */
    background-color: transparent;
    border-width: 0;
    color: #00259f;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 1em;
    margin: 0;
    opacity: 1;
    outline: 0;
    padding: 1.5em;
    /* position: relative; */
    text-align: center;
    text-decoration: none;
    /* text-rendering: geometricprecision;
    text-transform: uppercase; */
    /* transition: opacity 300ms cubic-bezier(0.694, 0, 0.335, 1),
        background-color 100ms cubic-bezier(0.694, 0, 0.335, 1),
        color 100ms cubic-bezier(0.694, 0, 0.335, 1); */
    /* user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap; */
    /* margin-right: 50px; */
    font-weight: 500;
}

/* .linkBtn:before {
    animation: opacityFallbackOut 0.5s step-end forwards;
    backface-visibility: hidden;
    background-color: #ffffff78;
    clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateZ(0);
    transition: clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1),
        -webkit-clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    width: 100%;
} */

/* .linkBtn:hover:before {
    animation: opacityFallbackIn 0s step-start forwards;
    clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.linkBtn span {
    z-index: 1;
    position: relative;
} */
#navbar {
    z-index: 21;
    position: fixed;
    background-color: #fff;
    width: 70%;
    top: 0;
    border-bottom: 1px solid #324da6;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#side-navbar {
    z-index: 11;
    position: fixed;
    background-color: #fff;
    top: 0;
    right: 0;
    justify-content: flex-end;
    width: 30%;
    border-bottom: 1px solid #324da6;
}

#footer {
    background-color: #092173;
    color: #fff;
    text-align: center;
    padding: 40px 0;
    bottom: 0px;
    width: 100%;
    min-width: 550px;
}

.form-wrapper {
    text-align: center;
    margin-top: 20px;
}

.input {
    width: 240px;
    height: 10px;
    text-align: center;
    padding: 15px;
    font-size: 16px;
    font-family: 'Abel', sans-serif;
    color: #5e6472;
    border: none;
    border-radius: 5px;
    transition: 0.2s linear;
}

.input:nth-of-type(2) {
    margin-top: 10px;
}

/* .input:focus {
    border: 1px solid #353535;
} */
.btn {
    margin-top: 20px;
    color: #353535;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    padding: 8px 17px;
    border-radius: 5px;
    margin: 10px;
    transition: 0.5s;
}

.btn:hover {
    background-color: #e8a4ffc1;
}

.box {
    margin: 150px auto;
    text-align: center;
    width: 450px;
    border-radius: 5px;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.7);
    /* background-image: linear-gradient(
        -225deg,
        rgb(255, 202, 225) 50%,
        rgba(201, 249, 188, 0.534) 50%
    ); */
}

.transferBtn {
    color: #324da6;
    font-size: 15px;
    padding: 0 5px 0 5px;
    margin: 0;
    background-color: rgba(255, 255, 255, 0);
    transition: 0.5s;
}

.transferBtn:hover {
    color: #3574f3;
    background-color: rgba(255, 255, 255, 0);
}

.formBtn {
    color: #fff;
    margin-top: 40px;
    width: 100px;
    height: 30px;
    padding: 0 20px;
    background: #324da6;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;
}

.paragraph {
    margin: 2rem auto 1rem;
    display: inline-block;
}

.app h1 {
    margin: 50px;
}

.dashboard {
    width: 100%;
}

#chartBoxInside canvas {
    max-height: 450px;
}

.toolBarWrapper {
    margin: 0px auto;
}

.toolBarButtons {
    display: flex;
    flex-direction: column;
}

.toolBar {
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    height: 765px;
    width: 380px;
    top: 0px;
    left: 0;
    color: #324da6;
    background-color: #fff;
    margin-top: 64px;
    border-bottom: 1px solid #324da6;
    transition: all 0.2s ease-out;
    z-index: 1;
}

.toolBar.closed {
    left: -340px;
}

#toolBarMenu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 50px 0px 50px;
    transition: all 1s ease;

    flex-grow: 1;
}

#box {
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}

#boxInside {
    position: relative;
    width: 30%;
    margin: 0 auto;
    height: 200px;
    max-height: 70vh;
    margin-top: calc(120vh - 85vh - 20px);
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #999;
    overflow: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#boxInside input {
    width: 80%;
    border-radius: 4px;
    color: #324da6;
}

.close {
    content: 'x';
    cursor: pointer;
    position: fixed;
    right: calc(35% - 30px);
    top: calc(120vh - 85vh - 33px);
    background-color: red;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    border: 1px solid #999;
    font-size: 20px;
}

.projectButton {
    border: none;
    background: none;
    font-size: 20px;
    color: #324da6;
    margin: 10px 0px;
    cursor: pointer;
}

.projectButton:hover {
    cursor: pointer;
    color: #1134a7;
}

.projectContent {
    text-align: center;
    margin: 0px auto;
}

.apiDiv {
    width: 250px;
    text-align: center;
    padding: 5px;
}

.panelColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.panelDropdown {
    border: 1px solid #324da6;
    border-radius: 5px;
    color: #324da6;
    font-size: 15px;
    margin: 10px 0;
    padding: 5px 20px;
    width: 100%;
}

.panelButtonGroup {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.toolBarLabel {
    font-weight: 500;
    margin: 10px;
}

.panelButton {
    background: none;
    border: 1px solid #324da6;
    /* width: 100px; */
    margin: 10px 0;
    padding: 5px;
    color: #324da6;
    font-size: 15px;
    transition: all 0.5s ease;
    border-radius: 5px;
    display: inline-block;
}

.panelButton:hover {
    background: #324da6;
    color: #fff;
    cursor: pointer;
}

/* .fa-bars {
    align-self: end;
    padding: 15px;
    border: none;
    background: none;
    padding-right: 16px;
} */

.fa-gear {
    align-self: end;
    padding: 10px;
    border: none;
    background: none;
    margin-top: 75px;
    margin-right: -6px;
    color: #324da6;
    cursor: pointer;
}

.newProject {
    margin: 30px auto;
    width: 150px;
    padding: 10px;
}

.arrow {
    background: none;
    border: solid #324da6;
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 15px;
    position: absolute;
    right: 10px;
    top: 15px;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    right: 0px;
}

.chartBox {
    margin: 150px 100px 100px 10px;
    border-radius: 2px;
    flex: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    height: 580px;
    min-width: 900px;
}

.loggerBox {
    margin-top: 150px;
    margin-bottom: 100px;
    margin-left: 100px;
    border-radius: 2px;
    margin-right: 5px;
    background-color: rgba(255, 255, 255, 0.7);
    height: 580px;
    overflow: scroll;
    flex: 50%;
    min-width: 410px;
    max-width: 410px;
}

.loggerSortButtonsWrapper {
    width: 410px;
    order: 3;
    position: absolute;
    height: 33px;
}

.loggerSortButtons {
    text-align: center;
    background-color: #b6bcd6;
    height: 60px;
    border-bottom: 1px solid #092173;
    max-width: 410px;
}

.chartBtn {
    width: 100px;
    color: #353535;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    transition: 0.5s;
}

.loggerBtn {
    display: inline-block;
    font-size: 12px;
    text-align: center;
    width: 70px;
    color: #353535;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
    transition: 0.5s;
}

.loggerBtn:hover {
    background-color: #a496e3;
}

.active {
    background-color: #a496e3;
}

.projectSelector {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}

.chartBtn:hover {
    background-color: #a496e3;
}

.h4chart {
    color: #353535;
    text-align: center;
}

.chartVisual {
    margin: 0 auto;
}

#dashWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    overflow: none;
}

.Collapsible {
    color: #545353;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
}

#cardHr {
    border-top: 1px solid #999999;
    border-bottom: 0px;
}

.label {
    font-size: 12px;
    font-weight: bold;
    padding: 10px 0px;
    text-align: center;
    border-right: solid 1pt #092173;
    border-bottom: solid 1pt #092173;
}

.value {
    font-size: 10px;
    text-align: center;
    border-right: solid 1pt #092173;
}

#queryGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.queryProps {
    display: inline-block;
    border-bottom: 1px solid #092173;
    padding: 10px;
    background-color: #b6bcd6;
    transition: 0.5s;
    cursor: pointer;
    width: 100%;
}

.blocked {
    color: red;
}

.loggerGUI {
    text-align: center;
}

.loadMoreBtn {
    margin: 50px;
    display: inline-block;
}

.individualQuery {
    display: inline-block;
}

.space {
    height: 60px;
    border-bottom: 1px solid #092173;
}

.queryProps:hover {
    background-color: rgb(9, 32, 116, 0.1);
}

.projectLabel {
    cursor: pointer;
}

.slidecontainer {
    width: 100%;
    padding: 20px 0px;
    /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;
    /* Override default CSS styles */
    appearance: none;
    width: 100%;
    /* Full-width */
    height: 25px;
    /* Specified height */
    background: #d3d3d3;
    /* Grey background */
    outline: none;
    /* Remove outline */
    opacity: 0.7;
    /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: 0.2s;
    /* 0.2 seconds transition on hover */
    transition: opacity 0.2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1;
    /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    width: 25px;
    /* Set a specific slider handle width */
    height: 25px;
    /* Slider handle height */
    background: #092173;
    /* Blue background */
    cursor: pointer;
    /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px;
    /* Set a specific slider handle width */
    height: 25px;
    /* Slider handle height */
    background: #04aa6d;
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
}

.loader {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (min-width: 641px) {
    @media (min-width: 2500px) {
        .video_wrapper {
            width: 3500px;
            height: 265%;
        }
    }

    @media (max-width: 1300px) {
        .algorithmCard {
            font-size: 14px;
            width: 145px;
        }

        .algorithmCard img {
            width: 50px;
        }
    }

    @media (max-width: 1050px) {
        .algorithmCard {
            font-size: 10px;
            width: 110px;
        }

        .algorithmCard img {
            width: 30px;
        }

        .iconImg {
            width: 70px;
            padding: 10px;
        }

        #pageThreeRight p {
            font-size: 14px;
        }

        #pageThreeLeft p {
            font-size: 14px;
        }
    }

    @media (max-width: 850px) {
        .algorithmCard {
            display: none;
        }

        .icon {
            height: 80px;
        }

        #pageThreeLeft,
        #pageThreeRight {
            width: 100%;
        }
    }

    @media (max-width: 640px) {
        .loggerBox {
            border-radius: 0px;
            background-color: rgba(255, 255, 255, 0.7);
            max-height: 580px;
            margin: 25px auto;
            margin-bottom: 80px;
            width: 100%;
        }

        #dashWrapper {
            display: flex;
            flex-direction: column-reverse;
            width: 100%;
            min-width: 550px;
            margin-top: 100px;
        }

        #side-navbar {
            min-width: 191px;
        }

        #navbar {
            display: block;
            min-width: 327px;
        }

        .chartBox {
            width: 100%;
            margin: 50px auto;
            border-radius: 2px;
            min-width: 457px;
        }

        .chartBtn {
            width: 40px;
            color: #353535;
            cursor: pointer;
            background-color: rgba(255, 255, 255, 0.2);
            border: none;
            padding: 5px 1px;
            border-radius: 5px;
            transition: 0.5s;
            font-size: 9px;
        }

        .loggerSortButtons {
            min-width: 100px;
            width: 100%;
        }

        #pageOneTextBox {
            width: 435px;
            margin-top: 0px;
        }

        #pageOneTextBox h1 {
            font-size: 40px;
        }

        #pageOneTextBox h2 {
            font-size: 30px;
        }

        #pageOneTextBox p {
            font-size: 25px;
        }

        .algorithmCard {
            display: none;
        }

        #demoCard {
            top: 617px;
            height: 737px;
            width: 100%;
            min-width: 554px;
        }

        #pageThreeRight {
            display: block;
            width: 100%;
        }

        #pageThreeLeft {
            display: block;
            width: 100%;
        }

        #pageThreeLeft p {
            padding: 0px;
            font-size: 12px;
        }

        #pageThreeRight p {
            padding: 0px;
            font-size: 12px;
        }

        .icon {
            display: flex;
            height: 110px;
            justify-content: center;
            align-items: center;
            padding: 5px;
        }

        .iconImg {
            width: 60px;
        }

        .centeredSentence h1 {
            margin: 58px;
            font-size: 30px;
        }

        .video_wrapper {
            display: none;
        }

        .container {
            min-width: 554px;
        }

        .arrow {
            top: 35px;
            right: -30px;
        }

        .toolBar.closed {
            left: -380px;
        }
    }
}
